<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_hypercubicGrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>wanglandau.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>wanglandau_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>991924A01B5A6239006E38A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99AD26F71B6017CA00C5752B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99AD27001B60180800C5752B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99AD270A1B60196600C5752B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
